body, p, span, h1, h2, h3, h4, h5, input, button {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
}

span, p {
  font-size: 12px;
  border: 0;
  margin: 0;
}

/* These are general styles for the typography */
.extra-small {
  font-size: 10px;
}

.small {
  font-size: 11px;
}

.grey {
  color: #7E7E7E;
}

.bold {
  font-weight: 600;
}

.inline {
  display: inline;
}

.padding-div {
  padding: 20px 0px;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
