/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body, p, span, h1, h2, h3, h4, h5, input, button {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
}

span, p {
  font-size: 12px;
}

/* These are general styles for the typography */
.extra-small {
  font-size: 10px;
}

.small {
  font-size: 11px;
}

.grey {
  color: #7E7E7E;
}

.bold {
  font-weight: 600;
}

.inline {
  display: inline;
}
